html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #031b4e;
}

nav {
  position: fixed;
  width: 154px;
  height: 100vh;
  background: #1633ff;
}

nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
nav ul li {
  width: 100%;
}

nav ul li a {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  margin-bottom: 5.125rem;
}

nav ul li a:hover {
  background: #031b4e;
  padding: 10px 0;
  cursor: pointer;
}
.icon__padding {
  padding-top: 230px;
}

.dashboard {
  display: flex;
}
.dashboard__container {
  width: 450px;
  height: 100px;
  margin-top: 60px;
  margin-left: 187px;
  margin-bottom: 90px;
  padding: 16px 60px;
  background-color: white;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

#dashboardHeader {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
}

#dashboardDate {
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

#dashboardTime {
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.125rem;
}

.dashDate {
  display: flex;
  justify-content: space-between;
}

.todo__container {
  width: 1460px;
  height: 672px;
  margin-left: 187px;
  padding: 60px;
  background: #ffffff;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.todo__nav h2 {
  padding-right: 200px;
  color: #1633ff;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}

.todo__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 124px;
  height: 35px;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #031b4e;
  border: 1px solid #031b4e;
  border-radius: 5px;
}

.todo__btns a button {
  margin-right: 40px;
}
.todo__btns a img {
  padding: 0;
  margin: 0;
}

.todo__labels {
  display: flex;
  margin: 0 25px;
  justify-content: space-between;
  font-size: 26px;
  font-weight: 500;
}
