html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #031b4e;
}

nav {
  position: fixed;
  width: 154px;
  height: 100vh;
  background: #1633ff;
}

nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
nav ul li {
  width: 100%;
}

nav ul li a {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  margin-bottom: 5.125rem;
}

nav ul li a:hover {
  background: #031b4e;
  padding: 10px 0;
  cursor: pointer;
}
.icon__padding {
  padding-top: 230px;
}

.dashboard {
  display: flex;
}
.dashboard__container {
  width: 548px;
  height: 140px;
  margin-top: 60px;
  margin-left: 187px;
  padding: 28px 61px;
  background-color: white;
  box-shadow: 0px 6.33449px 16.892px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

#dashboardHeader {
  font-style: normal;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.625rem;
}

#dashboardDate {
  font-style: normal;
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 1.875rem;
}

#dashboardTime {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 3.525rem;
  line-height: 1.125rem;
}
